div.pot, div.book {
	text-align: center;
}

.nav > li > a > div {
	font-size: 25px
}
.nav > li > a {
	padding: 10px;
}
.nav > li > a > .glyphicon > .badge {
	margin-top: 5px;
	background-color: green;
}

.book {
  height: 200px;
  width: 40px;
  float: left;
  color: white;
  font-size: 0.9em;
  font-family: Verdana, sans-serif;
  margin-bottom: 10px;
  margin-top: 20px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.book h2 {
  padding: 0;
  font-size: 1em;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: rotate(0.25turn) translateY(-35px);
          transform: rotate(0.25turn) translateY(-35px);
  width: 170px;
}
.book-green {
  background-color: darkgreen;
  border-left: 2px solid #007800;
  border-right: 2px solid #005000;
}
.flowercase > a {
	color: black;
}
#footer {
  margin: 0 auto;
  border: 10px #A87328 solid;
  overflow: hidden;
  background-image: linear-gradient(#241909, #2c1e0b 220px, #b87e2c 220px, #b87e2c 222px, #A87328 222px, #A87328 228px, #986824 228px, #986824 230px);
  background-size: 10px 230px;
}
.menu {
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 30;
	background-image: url(../images/bbab.png);
	border-radius: 0;
	border: 1px solid transparent;
}
a.logo {
	font-weight: bold;
	color: #ffffff !important;
}
.row {
	margin-top: 50px;
	display: block;
  padding: 10px;
  background: #ccc;
  background-image: url(../images/bbab.png);
  z-index: -300;
}
.modal-content .row {
	margin: 0 !important;
	padding: 2em 0 0 0 !important;
	z-index: 300 !important;
}
.block {
	background-color: rgba(55, 55, 55, 0.8);
	display: border-box;
	border-radius: 5px;
	z-index: 1;
}
.block-col {
	width: 50%;
	height: 5%;
	left: 25%;
	top: 50%;
	position: relative;
}
.block-row {
	width: 6%;
	height: 40%;
	left: 47%;
	top: 29%;
	position: relative;
}
#add {
	text-align: center;
}
#addpot {
	min-width: 220px;
	min-height: 400px;
	top: 15%;
	left: 20%;
	display: inline-block;
	border: 5px dotted rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.2);
	opacity: 0.7;
}
#addpot:hover {
	animation: op-bg 2s 0s infinite ease-out forwards;
}
.flowerpotcase {
	min-width: 220px;
	min-height: 500px;
	display: table;
	padding-bottom: 10px;
	border-bottom: 8px solid #b14b1b;
	background-color: #4d0000;
}
.pottext {
	color: black;
	font-size: 20px;
	margin-top: 1em;
	font-weight: bold;
}
/* pot */
.flowerpot {
	display: block;
	position: absolute;
	top: 95%;
  left:27%;
	vertical-align: bottom;
}
.pot {
	z-index: 2;
	background: #eeeeee;
	position: relative;
}
.pot > div {
	position: absolute;
}
.pot-top {
	z-index: 2;
	width: 160px;
	height: 120px;
	top: -120px;
	left: 50%;
	margin-left: -80px;
}
.pot-top:before, .pot-top:after, .pot-bot:before, .pot-bot:after, .plant:before {
	content: "";
	position: absolute;
}
.pot-top:before {
	left: -15px;   
	top: 0;
	border-left: 15px solid transparent;
	border-right: 0px solid transparent;	
	border-top: 140px solid #eeeeee;
}
.pot-top:after {
	right: -15px;   
	top: 0;
	border-right: 15px solid transparent;
	border-left: 0px solid transparent;	
	border-top: 140px solid #eeeeee;
}
.pot-bot {
	z-index: 2;
	width: 180px;
	height: 20px;
}
.pot-bot:before {
	top: 0;
	left: -15px;
	border-left: 15px solid transparent;
	border-right: 0px solid transparent;	
	border-top: 20px solid #eeeeee;
}
.pot-bot:after {
	top: 0;
	right: -15px;
	border-left: 0px solid transparent;
	border-right: 15px solid transparent;	
	border-top: 20px solid #eeeeee;
}
/* sign panel */
.sign-top {
	display: block;
	width: 40px;
	height: 26px;
	border: 2px solid #b7b0b0;
	left: 134px;
	top: -170px;
	z-index: 30;
	background-color: #111215;
	color: #dddddd;
}
.sign-bottom {
	display: block;
	width: 10px;
	height: 60px;
	border: 1px solid #ba9377;
	left: 149px;
	top: -175px;
	z-index: -1;
	background-color: #dab397;
}

.pot-shadow {
	display: block;
	z-index: 3;
	width: 160px;
	height: 15px;
	background: rgba(120,120,120,0.2);
	left: 50%;
	top: -10px;
	margin-left: -80px;
}
.shadow {
	background: rgba(100, 100, 100, 0.5);
	z-index: -1; 
	bottom: -10px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 10px;
	border-radius: 120px / 10px;
}
.plant {
	height: 320px;
	background: #00c975;
	width: 16px;
	margin-bottom: 20px;
	z-index: 0;
	bottom: 0;
	left: 50%;
	margin-left: -8px;
	border-radius: 16px 16px 0 0;
}
.plant > div {
	position: absolute;
}
.plant:before {
	height: 275px;
	width: 4px;
	right: 0;
	bottom: 0;
	background: rgba(60,188,131,0.5);
	border-radius: 0 30px 0 0;
}
.leaf {
	width: 0px;
	height: 0px;
	background:#3cbc83;
}
.leaf-1, .leaf-3 {
	left: 10px;
	top: 130px;
	border-radius: 100px 0 100px 0;
	transform: rotate(-20deg);
}
.leaf-2, .leaf-4 {
	left: -30px;
	top: 110px;
	border-radius: 0 100px 0 100px;
	transform: rotate(20deg);
}
.leaf-3 {
	top: 90px;
}
.leaf-4 {
	top: 70px;
}
.head {
	width: 50px;
	height: 50px;
	left: 50%;
	top: -15px;
	margin-left: -25px;
	border-radius: 50px;
	background:  #fda342
}
.face {
	background: #a3430c;
	width: 20px;
	height: 20px;
	border-radius: 25px;
	position: absolute;
	margin-top: -10px;
	margin-left: -10px;
	top: 50%;
	left: 50%;
}
/* flower leaf*/
.flowerpot > .pot > .plant > .head > ul > li {
	list-style: none;
	width: 50px;
	height: 30px;
	position: absolute; 
	float:left;
	border-radius: 100px 0px 100px 0px;
	background: #facb3d;
}
.flowerpot > .pot > .plant > .head > ul > li:nth-child(1) {
	top:10px;
	left:60px;
	transform: rotate(30deg);
}
.flowerpot > .pot > .plant > .head > ul > li:nth-child(2) {
	top:15px;
	right:60px;
	transform: rotate(20deg);
}
.flowerpot > .pot > .plant > .head > ul > li:nth-child(3) {
	top:55px;
	right:45px;
	transform: rotate(-20deg);
}
.flowerpot > .pot > .plant > .head > ul > li:nth-child(4) {
	top:55px;
	left:45px;
	transform: rotate(-110deg);
}
.flowerpot > .pot > .plant > .head > ul > li:nth-child(5) {
	top:75px;
	left:00px;
	transform: rotate(-60deg);
}
.flowerpot > .pot > .plant > .head > ul > li:nth-child(6) {
	bottom: 55px;
	left:45px;
	transform: rotate(-20deg);
}
.flowerpot > .pot > .plant > .head > ul > li:nth-child(7) {
	bottom:55px;
	right:45px;
	transform: rotate(-110deg);
}
.flowerpot > .pot > .plant > .head > ul > li:nth-child(8) {
	bottom:75px;
	left:00px;
	transform: rotate(-60deg);
}
/* animation controls */ 
.plant, .plant:before {
	animation: grow 5.5s ease-out forwards;
}
.head {
	transform: scale(0.4); 
	animation-name: flower, spin;
	animation-duration: 3s, 45s;
	animation-timing-function: ease-out, ease-out;
	animation-fill-mode: forwards;
	animation-delay: 2s, 5s;
}
.leaf-1 {
	animation: leaf 3.5s ease-out forwards;
	animation-delay: 1s;
}
.leaf-2 {
	animation: leaf 3.5s ease-out forwards;
	animation-delay: 2s;
}
.leaf-3 {
	animation: leaf 3.5s ease-out forwards;
	animation-delay: 3s;
}
.leaf-4 {
	animation: leaf 3.5s ease-out forwards;
	animation-delay: 4s;
}

/* animation function */
@keyframes grow {
	from { height : 60px; }
	to { height : 300px ; }
}
@keyframes flower {
	from { transform: scale(0.4); }
	to { transform: scale(1); }
}
@keyframes rota {
	from { transform : rotate(0); }
	to { transform : rotate(1080deg); }
}
@keyframes leaf {
	from { width : 0px; height: 0; }
	to {   width: 40px; height: 20px; }
}
@keyframes spin {
	from { transform: rotate(0); }
	to { transform: rotate(1800deg); }
}
@keyframes alert {
	from { opacity: 1 }
	to { opacity: 0 }
}
@keyframes minify {
	from { width: 25%; height: auto; }
	to { width: 0; height: 0; }
}
@keyframes op-bg {
	0% { opacity: 0.7; }
	50% { opacity: 1.0; }
	0% { opacity: 0.7; }
}
h1, h2, h3, h4, h5, h6 {
	color: white;
	font-weight: bold;
}
.modal-header {
	color: white;
        background-color: #96281B;
}
.profile_info {
	margin-top: 1em;
}
#profile_image, #preview {
	width: 150px;
	height: 150px;
}
#preview_wrapper {
	width: 150px;
	height: 150px;
	position: relative;
	padding: 0;
	margin-left: 1em;
	margin-bottom: 1em;
	overflow: hidden;
}
#profile_image, #preview_wrapper, #selected_image {
	border: 1px solid #cccccc;
        border-radius: 1em;	
}
@media screen and (min-width: 768px) {
	#preview_wrapper {
		margin-left: 4.5em;
	}
}
#tooltip {
	position: absolute;
	color: #ccc;
	left: 0;
	top: 150px;
	width: 150px;
	height: 40px;
	background-color: rgba(32, 32, 32, 0.8);
}
#tooltip .glyphicon {
	padding: 5px;
	font-size: 20px;
}
label.notice {
	display: block;
	width: 100%;
	text-align: right;
        margin-bottom: 0;
        font-size: 0.8em;
}
label[for="description"] {
	margin-top: 2em;
}
label[for="profile_image"] {
	text-align: left !important;
	color: #a94442;
}
input[type=file] {
	position: absolute;
	width: 150px;
	min-height: 145px;
	height: 150px;
	opacity: 0;
}
.modal-body {
	color: white;
	text-align: left !important;
	padding: 0;
}
.modal-body div:last-child {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
.modal-body button {
	margin-top: 2em;
	padding: 1em;
	color: #888;
}
.modal-body input, textarea.form-control {
        color: white;
}
.modal-body input, .modal-body input:disabled, textarea.form-control {
	background-color: rgba(0, 0, 0, 0) !important;
        padding-left: 0;
        height: 3em;
        border-radius: 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #96281B;
        outline: none;
	margin-bottom: 0.2em;
}
textarea.form-control {
	border-top: 2px solid #96281B;
	height: 10em;
}
.modal-body input:focus, textarea.form-control:focus {
	border-color: #FF0000;
  	box-shadow: inset 0 1px 1px rgba(150, 40, 27, 0.6), 0 0 8px rgba(150, 40, 27, 0.6);
}
/*
.modal-body textarea {
	border: 1px solid #888888;
	border-left: none;
	border-right: none;
	border-radius: 0;
	width: 100%;
	padding-left: 0;
}
*/
.modal-body input:focus, .modal-body textarea:focus {
        -webkit-transition: 0.5s;
        transition: 0.7s;
        border-radius: 0.3em;
        -webkit-appearance: none;
}
.modal-body input:disabled {
	background-color: white;
}
