html, body {
	color: #737473;
	height: 100%;
	overflow-x: hidden;
}

.autoLink {
	color: #337ab7;
}
.autoLink:hover {
	color: #74b844;
	text-decoration: none;
}
a, input, .form-control {
	color: #737473;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
input, textarea {
	transition: 0.7s;
}
.green {
	color: #74b844;
}
header {
        width: 100%; 
        height: 50px;
        background-color: #74b844;
        color: white;
        position: relative;
        z-index: 10000;
}
#logo {
	top: 0;
        left: 5%;
        position: absolute;
}

#menubar > ul > li > a {
	margin-right: 10px;
}
#menubar > ul > li > a:hover {
	transition: 0.7s;
	background-color: #e0e0e0;
}

.navbar {
	position: fixed;
}
#x {
	margin-left: 68%;
	font-size: 20px;
	color: white;
	text-decoration: none;
}
#y {
	color: black;
	font-size: 20px;
	text-decoration: none;
}
#z {
	color: black;
	font-size: 20px;
	text-decoration: none;
}
#i {
	width: 10px;
	height: 10px;
	margin-left: 95%;
	box-sizing: border-box;
}

/* calender */
.side-window {
	width: 700px;
	height: 450px;
	position: absolute;
	border-radius: 7px;
	margin-top: 50px;
	z-index: 100;
	display: none;
	margin-left: calc(50% - 350px);
}
#calender-side {
	width: 250px;
	text-align: center;
}
#calender-month {
	width: 450px;
}
#calender-day {
	margin: 10% 0 -7.5% 0;
}
#calender-deadline {
	margin: 22% 0 -1% 0;
	font-size: 20px;
}
.normal-15 > img {
	width :25px;
}
/* mini chat */
#chat-mini {
	width: 80%;
	max-height: 30%;
	left: 0;
	border-bottom: transparent;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	margin: 10%;
	overflow: scroll;
}
.chatting-mini {
	display: flex;
	margin-top: 5px;
}
.chatting-mini > img {
	width: 12%;
	height: 12%;
	margin: 0 3%;
	border-radius: 50%;
}
.chatting-mini > div {
	width: 80%;
	text-align: left;
}
#calender-side {
	position: relative;
	text-align: center;
}
.chatting-mini > div > strong {
	margin-left: 3%;
}
#chat-mini + div {
	position: absolute;
	bottom: 20px;
}
/* main calender */
.monthlist {
	color: #bbbbbb;
	width: 100%;
	height: 10%;
	padding: 0;
	display: flex;
	text-align: center;
}
.month {
	font-size: 18px;
	width: 33.33%;
	height: 100%;
	padding-top: 7%;
}
.month-active {
	font-size: 24px;
	padding-top: 4%;
	color: #74b844;
	font-weight: 500;
}
.x-button {
	text-decoration: none;
	font-size: 20px;
	margin: -5% 0% -3% 95%;
}
.xx-button {
	margin: 0 0 0 70%;
	color: white;
}

.bold-15 {
	font-size: 15px;
	font-weight: 500;
}
.bold-30 {
	font-size: 30px;
	font-weight: 500;
}
.bold-50 {
	font-size: 60px;
	font-weight: 600;
}
.normal-15 {
	font-size: 15px;
	font-weight: 400;
}
.normal-30 {
	font-size: 30px;
	font-weight: 400;
}
.normal-50 {
	font-size: 50px
	font-weight: 400;
}
.thin-15 {
	font-size: 15px;
	font-weight: 100;
}
.thin-30 {
	font-size: 30px;
	font-weight: 100;
}
.thin-50 {
	font-size: 50px;
	font-weight: :100;
}

#chat-mini {
	overflow-x: hidden;
	overflow-y: auto;
}

/* roll */
#roll {
	position: absolute;

	width: 700px;
	height: 450px;
	margin-left: calc(50% - 350px);
	margin-top: 30px;
	border-radius: 2px;
	z-index: 100;
	display: none;
}
#divisiontable {
	position: relative;
	width: 40%;
	color: white;
	background-color: #74b844;
}
.divisiontitle {
	width: 100%;
	height: 10%;
	font-size: 17px;
	padding: 15px;
}
.divisionuser {
	width: 80%;
	height: 20%;
	margin-top: 7%;
	margin-left: 10%;
	display: flex;
}
.divisionuser > img {
	width: 30%;
	margin: 5%;
}
.divisionuser > p {
	width: 60%;
	margin-top: 18%;
	padding-left: 4%;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.8);
}
.divisionuser > p > strong {
	font-size: 20px;
	font-weight: 200;
	color: white;
}
#rolldivider {
	width: 80%;
	height: 1px;
	margin: 10% 0 10% 10%;
	background-color: rgba(255, 255, 255, 0.2);
}
#userroll {
	background-color: #fff;
	padding: 10px 10px 10px 20px;
	width: 60%;
}
.rolldata {
	margin: 5% 40px 5% 0;
	color: rgba(255, 255, 255, 0.9);
	list-style: none;
}
.rolldata:hover {
	-webkit-transition: 0.7s;
	transition: 0.7s;
}
.rolldata:before {
	content: '- ';
}
.divisioninputform {
	position: absolute;	
	padding: 20px;
	bottom: 0;
	width: 100%;
	display: flex;
}
.divisioninputform > input {
	width: 75%;
	margin-right: 3%;
	background-color: #74b844;
	border: none;
	border-bottom: 1px solid white;
}
.divisioninputform > input[type="text"]::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.divisioninputform > button {
	width: 20%;
	background-color: #74b844;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	padding: -4px;
}
#userroll > a {
	margin: -2% 0 0 95%;
}
.usersection {
	width: 100%
	height: 20%;
	margin-bottom: 2%;
	display: flex;
}
.rollname {
	width: 40%;
	margin-top: 4%;
	color: #74b844;
	display: flex;
}
.rollname > img {
	width: 35px;
	height: 35px;
	margin-right: 10px;
	border-radius: 50%;
}
.rollname > p {
	width: 75%;
	font-size: 12px;
	font-weight: 200;
	color: #bbb;
}
.rollname > p > strong {
	font-weight: 400;
	font-size: 15px;
	color: #74b844;
}
.rollprofile {
	width: 60%;
}
.rollprofilelist {
	list-style: none;
}
.padding {
	padding: 0;
}
.rollprofilelist:before {
	content: '- ';
}

.side-window {
	width: 700px;
	height: 450px;
	position: absolute;
	border-radius: 7px;
	margin-top: 50px;
	z-index: 100;
	display: none;
	margin-left: calc(50% - 350px);
}
/* box */
.green-box {
	height: 100%;
	background-color: #74b844;
	color: white;
}
.white-box {
	height: 100%;
	background-color: white;
	color: #74b844;
}
/* input */
.white-input {
	width: 80%;
	margin: 0 10%;
	display: flex;
}
.white-input > input {
	color: white !important;
	width: 68%;
	padding: 0 5px;
	margin-right: 10px;
	background-color: #74b844;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.white-input > input[type="text"]::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.white-input > button {
	width: 30%;
	background-color: #74b844;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	padding: -4px;
}
.x-button {
	text-decoration: none;
	font-size: 20px;
	margin: -5% 0% -3% 95%;
}
/* to-do-list */
.todolist-section {
	width: 50%;
	height: 100%;
}
#todolist > div:nth-child(2) {
	background-color: #efefef;
}
.todolist-title {
	text-align: center;
	margin-top: calc(7% - 16px);
	font-size: 23px;
	font-weight: 200;
}
.todolist-subtitle {
	margin-top: -2%;
	text-align: center;
	opacity: 0.7;
	font-size: 13px;
	font-weight: 100;
}
.x-margin {
	margin: 10% 0 0 0;
}
.todolist-checklist {
	height: 70%;
	padding: 10%;
	overflow-y: auto;
}
.todolist-data {
	display: flex;
	width: 100%;
}
.todolist-data > img {
	width: 30px;
	height: 30px;
	margin: 0 20px 0 -10px;
}
.todolist-data > p {
	width: 85%;
	font-weight: 100;
	font-size: 12px; 
}
.todolist-data > p > strong {
	font-size: 15px;
	font-weight: 300;
}
.todolist-section {
	position: relative;
}
#todolist-input {
	position: absolute;
	bottom: 20px;
}
#todolist-input > input {
	background-color: #efefef;
	border-bottom: 1px solid rgba(116, 184, 68, 0.7);
}
#todolist-input > input[type="text"]::-webkit-input-placeholder {
	color: rgba(116, 184, 68, 0.7);
}
#todolist-input > button {
	background: #efefef;
	color: #74b844;
	border: 1px solid #74b844;
}

/*office*/
/*office*/
#office {
	position: relative;
	display: none;
	margin-top: 50px;
	margin-left: calc(50% - 150px);
	width: 300px;
	max-height: 500px;
	background-color: #efefef;
	overflow: hidden;
	z-index: 50000;
}
#office-header {
	width: 100%;
	height: 50px;
	background-color: #74b844;
	color: white;
	padding: 15px 0 0 15px;
	font-size: 20px;
	box-sizing: border-box;
}
#office-body {
	height: 450px;
	overflow-y: scroll;
}
.office-list {
	color: #999;
	margin-top: 10px;
	padding: 15px 0 0 20px;
}
.office-profile {
	margin: 10px 0 20px 0;
}
.office-profile-info {
	height: 85px;
	margin-bottom: -2%;
	display: flex;
}
.office-profile-info > img {
	width: 50px;
	height: 50px;
	margin: 10px 20px;
	border-radius: 50%;
	box-sizing: border-box;
}
.office-profile-info > p {
	box-sizing: border-box;
	width: 210px;
	height: 70px;
	padding-top: 25px;
	font-weight: 200;
	color: #b57d4e;
}
.office-profile-info > p > strong {
	font-size: 20px;
	color: #74b844;
	font-weight: 400;
	margin: 0 10px 0 -5px;
}
.office-profile-text {
	
	display: flex;
}
.office-profile-text > strong {
	margin-left: 5px;
	font-weight: 200;
	font-size: 14px;
	border-radius: 50%;
	box-sizing: border-box;
}
.office-profile-text > p {
	font-weight: 200;
	color: #999;
}
#divider {
	border: 1px solid #737473;
	opacity: 0.2;
	margin: 20px;
}

#logo {
	width: 150px;
	height: 100%;
	display: flex;
	align-items: center;
}
#content_wrapper {
	background-image: url('../images/projectBackground.png');
	background-size: 100% 100%;
	height: calc(100% - 50px);
	overflow-y: scroll;
}
/* side navbar */
#content_wrapper > div:first-child
, #content_wrapper > div:first-child > nav {
	width: 200px;
	padding-left: 1em;
	margin-top: 0;
	margin-bottom: 0;
	overflow-x: hidden;
}
#content_wrapper > div:first-child > nav {
	height: calc(100% - 50px);
	background-color: rgba(236, 238, 239, 0.9); 
	position: absolute;
	z-index: 10000;
}
#profile {
	margin-top: 20%;
	margin-left: 1em;	
}
#profile + .clearfix {
	margin-bottom: 20%;
}
#profile img {
	float: left;
	border-radius: 30px;
}
#profile div {	
	float: left;
	margin-left: 5px;
	margin-top: 1em;
}
#profile div .green {
	font-size: 1.3em;
}

@media screen and (max-width: 767px) {
	#profile {
		margin-left: 0;
	}
	#profile div {
		margin-left: 0;
	}
}

#user_menubar ul {
	margin-top: 4em;
}

#content_wrapper nav ul > li {
	width: 100%;
	display: block;
}
#user_menubar ul > li > a {
	padding: 15px;
	padding-right: 0;
}
#user_menubar ul > li > a:hover {
	transition: 0.7s;
	background-color: #e0e0e0;
}
#tree {	
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	z-index: 0;
}

#waterspread {
	position: absolute;
	bottom: 380px;
	right: 230px;
}
#chat {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 300px;
	height: 380px;
	background-color: white;
	z-index: 50;
}
#chattitle {
	height: 30px;
	font-size: 15px;
	padding: 5px;
	padding-left: 10px;
	color: white;
	background-color: #74b844;
}
#chat .name {
	display: inline-block;
	width: 85px;
	text-align: center;
}
#chat #message_wrapper {
	overflow-y: scroll;
	width: 300px;
	height: 315px;
}
#chat .message {
	display: inline-block;
	width: 180px;
	margin: 10px 5px;
}
#chat form {
	position: absolute;
	bottom: 0;
}
#chat input {
	padding-left: 3px;
	border-radius: 0;
	float: left;
	display: inline;
	width: 260px;
	height: 35px;
	background-color: #efefef;
}
#chat button {
	margin: 0;
	padding: 0;
	width: 40px;
	height: 35px;
}

/* #help */
.modal-header-style,
.modal-body-style {
	background-color: #74b844;
	color: white;
	border-radius: 5px;
	text-align: center;
}
.modal-header-style {
	padding: 30px;
}
.modal-body-style {
	margin-top: -7px;
	padding: 50px;
	color: rgba(255, 255, 255, 0.9);
}
.modal-body-style > * {
	font-weight: 100;
}
.modal-body-style > h3 {
	font-weight: 200;
}
.modal-body-style > h4 {
	line-height: 1.5;
	font-size: 15px;
}
.modal-title {
	font-weight: 200;
	font-size: 30px;
}
.modal-divider {
	width: 90%;
	height: 1px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	margin: 50px 0 50px 5%;
}
.modal-image {
	width: 100%;
}
.modal-image-sm {
	width: 70%;
	border: 1px solid rgba(255, 255, 255, 0.7);
}
.modal {
	left: calc(50% - 600px);
	top: 10%;
}

/* sun */
#sun {
	position: absolute;
	top: 20%;
	right: 10%;
	transform: translate(-50%, -50%);
	animation: roll 6s infinite linear;
}
.center {
	background: orange;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 1;
	box-shadow: 0px 0px 30px 30px rgba(255,255,204, 0.8),
				0px 0px 30px 60px rgba(255,230,200, 0.8),
				0px 0px 30px 90px rgba(255,230,220, 0.4);
}
.triangle {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 60px solid orange;
	position: absolute;
	z-index: 2;
}
.top {
	left: 40px;
	top: -70px;
}
.bottom {
	left: 40px;
	top: 110px;
	transform: rotate(180deg);
}
.set-two{
	transform: rotate(45deg);
	position: relative;
	left: 30px;
	top: 10px;
}
.set-three{
	transform: rotate(90deg);
	position: relative;
	left: 50px;
	top: 45px;
}
.set-four{
	transform: rotate(135deg);
	position: relative;
	left: 40px;
	top: 80px;
}
@keyframes roll {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

/* tooltop */
.tooltip-inner {
	background-color: #74b844;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #74b844;
}

.navbar h4 {
	margin-left: 1em;
	margin-top: 2em;
	font-weight: 500;
}
/* setting modal */
#setting {
	z-index: 50000;
}
#setting h4 {
	font-size: 18px;
	font-weight: bold;
}
.modal-setting-style {
	background-color: #74b844;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-body > .form-group > * {
	margin-top: 5px;
	font-weight: 200;
	font-size: 16px;
}
.modal-body label {
	color: #74b844;
}
.modal-body > .form-group > input, .modal-body > .form-group > textarea {
	margin-bottom: 20px;
}
.setting-admin {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}
.setting-admin > * {
	box-sizing: border-box;
}
.setting-admin > input {
	width: 80%;
	margin-right: 10%;
}
.setting-admin > input:hover,
.setting-admin > input:focus {
	border: 1px solid #a8e519;
}
.setting-admin > button {
	width: 15%;
	background-color: inherit;
	border: 2px solid #74b844;
	border-radius: 4px;
}
.modal-footer {
	padding: 0;
}
.modal-footer > button {
	padding: 1em;
	width: 100%;
	height: 100%
}

.error {
	font-size: 12px;
	color: #880000;
}

.divisioninputform input {
	color: white !important;
}
.todolist-section {
	position: relative;
}
#todolist-input {
	position: absolute;
	bottom: 20px;
}
#todolist-input input {
	width: 100%;
	color: #74b844 !important;
}

.monthlist {
	box-sizing: border-box;
}

.offset-1 { margin-left: 59px; }
.offset-2 { margin-left: 118px; }
.offset-3 { margin-left: 177px; }
.offset-4 { margin-left: 236px; }
.offset-5 { margin-left: 295px; }
.offset-6 { margin-left: 354px; }

#days {
	margin-top: 20px;
	height: 70%;
}

#days > ul {
	position: relative;
	-webkit-padding-start: 10px;
	padding: 10px;
	height: 10%;
}
#days > ul > li {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	width: 45px;
	margin: 5px 7px;
	line-height: 20px;
	padding: 12.5px 2px;
	box-sizing: border-box;
	font-size: 20px;
	color: #737473;
	font-weight: thin;
	1border: 1px solid #74b844;
	border-radius: 22.5px;
}

#calender {
	1height: 550px;
}

#days > ul:first-child li {
	1margin: 5px;
	font-size: 20px;
	border: none;
}

.day {
	background-color: #74b844;
	color: white !important;
}
.block {
	opacity: 0.5;
}

.sidemenu {
	z-index: 500000 !important;
}
#year {
	text-align: center;
}

#sunday {
	position: absolute;
	top: 20%;
	right: 10%;
	box-shadow: none;
	1background: orange;
	text-align: center;
	color: white;
	font-size: 30px;
	line-height: 1.1;
}
/*
.center {
	background: transparent;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 1;
	box-shadow: 0px 0px 30px 30px rgba(255,255,204, 0.8),
				0px 0px 30px 60px rgba(255,230,200, 0.8),
				0px 0px 30px 90px rgba(255,230,220, 0.4);
}
*/
