
#main {
	background: url(../img/background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	text-align: center;
	overflow-x: hidden;
}
#main > a > img {
	width: 15%;
	min-width: 150px;
	margin: 6% 0% 4% 0%;
}
.white-input {
	min-height: 40px;
	box-sizing: border-box;
	margin-top: 20px;
	padding: 0.75% 0.75% 0.75% 1%;
	border: 3px solid rgba(200, 200, 200, 0.7);
	background-color: transparent;
	color: rgba(222, 222, 222, 0.6);
    transition: 0.7s;
    outline: none;
}
.main-form > input[type=text]:focus
,input[type=password]:focus {
    border :3px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 0.9);
}
.btn-margin-right {
	margin-left: -8%;
	margin-right: 3%;
}
.btn-margin-left {
	margin-left: 3%;
	margin-right: -8%;
}
.white-button {
	box-sizing: border-box;
	min-height: 40px;
	width: 49%;
	margin-top: 1%;
	padding: 1%;
	border: 2px solid rgba(255, 255, 255, 0.8);
	font-weight: normal;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.8);
	transition: 0.5s;
}
.white-button:hover {
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(55, 55, 55, 1);
	font-weight: bold;
}